<% include ./partials/header %>
<title>Answer statistics</title>
<style>
    .fixed-table-body {
        height: auto !important
    }


    .chart {
        /*   min-width: 310px;
        height: 400px;
        max-width: 500px; */
        height: 400px;
        width: 425px;


        padding: 10px;
        border: 1px solid #2AB7CA;
        border-radius: 50px;
        z-index: -1;
        margin: auto
    }

    #container {
        width: 100%;
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 8rem;
        margin-bottom: 30px;
        /* height: calc(100vh - 100px);
        overflow: auto; */
        position: absolute;
        top: 200px;



    }

    .footer {
        width: 100vw;
        text-align: center;
        color: darkgrey;
        background-color: #F4F4F8
    }

    @media only screen and (max-width: 500px) {

        .part1,
        .part2,
        .part3 {
            position: static !important;
        }

        .part2 {
            flex-direction: column;
        }

        .part2 button {
            margin: 10px !important
        }


    }

    @media only screen and (max-width: 400px) {


        .chart {

            width: 350px;

        }
    }



    @media only screen and (max-width: 1024px) {

        .chart {

            height: 400px;
            width: 400px;

        }
    }

    @media only screen and (min-width: 1025px) {

        .chart {

            height: 400px;
            width: 500px;

        }
    }
</style>

<body>

    <nav style="opacity:0.85" class="navbar fixed-top part1 navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index"> <img style="height: 35px" src="HELSINKI_Tunnus_MUSTA.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                    <li class="nav-item">
                            <a class="nav-link" href="index">Home </a>
                        </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Answer <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="feedbacks">Feedback</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="part2"
        style="width: 100%;top: 100px;align-self: center;justify-content: center;display: flex;position: absolute;">
        <div style="margin: 10px">
            <label for="peopleGroup">People group:</label>
            <select class="form-control" id="peopleGroup" style="width: 150px">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        </div>
        <div style="margin: 10px">
            <label for="schoolname">School name:</label>
            <select class="form-control" id="schoolname">
                <option value="Kaisaniemen ala-aste">Kaisaniemen ala-aste</option>
                <option value="Keinutien ala-aste">Keinutien ala-aste</option>
                <option value="Myllypuron peruskoulu">Myllypuron peruskoulu</option>
                <option value="Meritalo">Meritalo</option>
            </select>
        </div>
        <div>
            <button style="margin-top: 42px" onclick="drawCharts()" type="button" class="btn btn-success">Draw chart <i
                    class="fa fa-pie-chart" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="part3" id="container">
    </div>




    <p id="yy" style="display:none"><%= posts %></p>
</body>
<script>
    var surveys = JSON.parse(document.getElementById("yy").innerText);
    var $table = $('#answers')

    var drawCharts = function () {
        $('#container').empty()
        let answers = surveys.filter(item => item.peopleGroup == $("#peopleGroup").val() && item.schoolname == $("#schoolname").val());
        console.log(answers)
        const groupQuestion = (d) => {
            let g = Object.entries(d.reduce((r, c) => (r[c.questionId] = [...r[c.questionId] || [], c], r), {}))
            return g.reduce((r, c) => (r.children.push(
                { name: c[0], children: c[1] }), r), { name: d[0], children: [] })
        }

        const groupAnswer = (d) => {
            let g = Object.entries(d.reduce((r, c) => (r[c.answer] = [...r[c.answer] || [], c], r), {}))
            return g.reduce((r, c) => (r.data.push(
                { name: c[0], y: c[1].length / d.length * 100 }), r), { name: d[0].question, data: [] })
        }

        var chartData = groupQuestion(answers).children.map(question => {
            return groupAnswer(question.children);
        })

        var data1 = [];
        answers.map(item => {
            data1.push({ 'School name': item.schoolname, 'Classroom': item.schoolclass, 'question': item.question, 'answer': item.answer, 'date': moment(item.date).format('lll') })
        })
        if (!chartData.length) {
            var container = document.createElement("div");
            container.style.padding = '15px'
            container.innerHTML = 'No data available!'
            document.getElementById('container').appendChild(container)
            return
        }



        chartData.map(item => {
            console.log(item);
            var container = document.createElement("div");
            container.className = 'chart'
            document.getElementById('container').appendChild(container)


            Highcharts.chart(container, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: item.name
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: item.data

                }]
            });
        })

    }
</script>

<% include ./partials/footer %>