<% include ./partials/base %>

<style>
    @media only screen and (max-width: 600px) {}

    .fixed-table-body {
        height: auto !important
    }
</style>
<div class="container">

    <div class="table-responsive">
        <table class="table table-condensed table-hover" style="display:none;" id="feedbacks" data-sort-name="name"
            data-pagination="true" data-search="true" data-sortable="true">
            <thead>
                <tr> 
                    <th data-field="feedback" data-sortable="true">Feedback</th>
                    <th data-field="date" data-sortable="true">Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<p id="yy" style="display:none"><%= posts %></p>



<script>
    var answers = JSON.parse(document.getElementById("yy").innerText);
    var $table = $('#feedbacks')
    var data1 = [];
    answers.map(item => {
        data1.push({ 'School name': item.schoolname, 'Classroom': item.schoolclass, 'feedback': item.feedback, 'date': moment(item.date).format('lll') })
    })
    
        $table.bootstrapTable({ data: data1, })
        document.getElementById("feedbacks").style.display = "table"
















</script>