<% include ./partials/base %>

<style>
    .fixed-table-body {
        height: auto !important
    }
</style>

<body>
    <div
        style="background-color: #F4F4F8;width: 100%;justify-content: center;display: flex; ;top:0; z-index: 1; opacity: 0.85; position: fixed;">
        <img style="height: 60px; margin-top: 10px;" src="HELSINKI_Tunnus_MUSTA.png" alt="">
    </div>
    <div class=""
        style="position: absolute; top: 100px;display: flex;justify-content: center;width: 100%;padding: 0 30px;">
        <div class="table-responsive">
            <table class="table table-condensed table-hover" style="display:none;" id="feedbacks" data-sort-name="name"
                data-pagination="true" data-search="true" data-sortable="true">
                <thead>
                    <tr>
                        <th data-field="feedback" data-sortable="true">Feedback</th>
                        <th data-field="date" data-sortable="true">Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <p id="yy" style="display:none"><%= posts %></p>
</body>
<script>
    var answers = JSON.parse(document.getElementById("yy").innerText);
    var $table = $('#feedbacks')
    var data1 = [];
    answers.map(item => {
        data1.push({ 'School name': item.schoolname, 'Classroom': item.schoolclass, 'feedback': item.feedback, 'date': moment(item.date).format('lll') })
    })

    $table.bootstrapTable({ data: data1, })
    document.getElementById("feedbacks").style.display = "table"

</script>
<% include ./partials/footer %>