<% include ./partials/header %>
<title>Feedback</title>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index"> <img style="height: 35px" src="HELSINKI_Tunnus_MUSTA.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="answers">Answer </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="feedbacks">Feedback <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
    <div style="display: flex;justify-content: center;width: 100%;padding: 0 30px;">
        <div class="table-responsive">
            <table class="table table-condensed table-hover" style="display:none;" id="feedbacks" data-sort-name="name"
                data-pagination="true" data-search="true" data-sortable="true">
                <thead>
                    <tr>
                        <th data-field="feedback" data-sortable="true">Feedback</th>
                        <th data-field="date" data-sortable="true">Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <p id="api" style="display:none"><%= posts %></p>
</body>
<script>
    var data = JSON.parse(document.getElementById("api").innerText);
    var feedbacks = [];
    data.map(item => {
        feedbacks.push({ 'School name': item.schoolname, 'Classroom': item.schoolclass, 'feedback': item.feedback, 'date': moment(item.date).format('lll') })
    })

    $('#feedbacks').bootstrapTable({ data: feedbacks, })
    document.getElementById("feedbacks").style.display = "table"

</script>
<% include ./partials/footer %>