<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="/mdb.min.js"></script>
<link href="/mdb.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">




<style>
    .outer {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .answers {
        display: flex;
        justify-content: space-around;
    }

    body {
        margin: 0
    }

    .body {
        /*         background-image: linear-gradient(to right, rgba(255, 0, 0, 0.486) ,rgba(255, 166, 0, 0.671), rgba(255, 255, 0, 0.507), rgba(0, 128, 0, 0.514), rgba(128, 0, 128, 0.493));
 */
        padding: 15px;
        border-radius: 17px;
        background: rgba(255, 255, 255, 0.534);

    }

    button {
        cursor: pointer;
    }

    .container1 {
        display: flex;
        transition: transform .4s ease-in;
    }

    .choice {
        width: 50px;
        height: 50px;
    }

    .inner {
        flex: 0 0 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: #cccccc;
        background-size: cover;
        background-image: url("rainbow-wallpaper.jpg");
    }

    .paddle {
        position: fixed;
        top: 50%;
        font-size: 50px;
        color: white;

    }

    .btn-warning:hover {
        color: white
    }

    .lefty {
        left: 0;
        z-index: 1;
    }

    .righty {
        right: 0;
        z-index: 1;
    }
</style>


<button class="lefty paddle btn btn-warning" id="left-button"><i class="fa fa-chevron-left"></i></button>
<div class="outer" id="content">
    <div id="container1" class="container1">

    </div>

</div>
<button class="righty paddle btn btn-warning" id="right-button"><i class="fa fa-chevron-right"></i></button>
<script>

    const container = document.querySelector(".container1");
    const lefty = document.querySelector(".lefty");
    let translate = 0;
    let maxTranslate = null;

    lefty.addEventListener("click", function () {
        if (!maxTranslate) return
        if (translate == 0) {
            translate = 0
            return
        }
        translate += 100;
        container.style.transform = "translateX(" + translate + "vw" + ")";
    });

    const righty = document.querySelector(".righty");
    righty.addEventListener("click", function () {
        if (!maxTranslate) return
        if (translate == -maxTranslate) {
            translate = -maxTranslate
            return
        }

        translate -= 100;
        container.style.transform = "translateX(" + translate + "vw" + ")";
    });
    var sendAnswer = function (e) {
        console.log("questionId", e.target.questionId, "choiceId", e.target.choiceId);
        $("#right-button").click()
    }
    getData = () => {
        $.ajax({
            url: "/getData",
            type: "GET"
        }).done(function (data) {
            var questions = data.data[1].questions;
            maxTranslate = (questions.length - 1) * 100
            questions.forEach(question => {
                var question_type = question.question_type
                console.log(question);



                var container = document.createElement("div")
                container.className = 'inner';

                var body = document.createElement("div");
                body.style.width = "80%";
                body.style.margin = "auto"
                body.className = "body"


                var title = document.createElement("h3")
                title.innerHTML = question.heading.fi;
                title.style.textAlign = 'center';
                title.style.marginBottom = '80px';
                body.appendChild(title);

                var answer = document.createElement("div")
                answer.className = 'answers'
                //console.log(question);
                if (question_type == "Word") {
                    var choices = question.choices
                    choices.map(item => {
                        var choice = document.createElement("button")
                        choice.className = 'btn btn-primary'
                        choice.innerHTML = item.text.fi;
                        choice.questionId = question.id;
                        choice.choiceId = item.id
                        choice.addEventListener("click", sendAnswer, false)
                        answer.appendChild(choice)
                    })
                }
                else if (question_type == "Slider") {
                    var slider = document.createElement("div");
                    slider.id = "slider-" + question.id;
                    setTimeout(() => {
                        $("#" + slider.id).slider();

                    }, 0);
                    answer.appendChild(slider)




                }




                body.appendChild(answer);
                container.appendChild(body)
                //container.appendChild(body)
                document.getElementById("container1").appendChild(container);
                //container.append(body)

                /* div.style.width = "100px";
                div.style.height = "100px";
                div.style.background = "red";
                div.style.color = "white";
                div.innerHTML = "Hello"; 

                */

            })
            //console.log(questions);
        });
    }


    getData()




</script>