<% include ./partials/header %>
<title>Home</title>
<style>
    .answers {
        display: flex;
        justify-content: space-around;
    }

    #welcome_page {
        display: block
    }

    .mainContainer {
        height: 100vh;
        flex: 0 0 100%;
        background-color: #E6E6EA;
        position: relative;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #2AB7CA;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #2AB7CA;
    }

    ::placeholder {
        color: #2AB7CA;
    }

    .setting-item {
        width: 50%;

    }

    .outer {
        overflow-x: hidden;
        overflow-y: hidden;

    }

    body {
        margin: 0;
        overflow: hidden;

    }

    .body {
        padding: 15px;
        border-radius: 17px;
        background: rgba(255, 255, 255, 0.534);

    }

    button {
        cursor: pointer;

    }

    button:focus {
        outline: none;
    }

    .inner {
        display: flex;
        transition: transform .2s ease-in;
    }


    .lefty {
        left: 0;
        z-index: 1;
    }

    .righty {
        right: 0;
        z-index: 1;
    }

    .button {
        width: 195px;
        background-color: #2AB7CA;
        border: #2AB7CA;
        color: white;
        height: 50px !important;
        border-radius: 50px;
    }

    .button2 {
        width: 195px;
        background-color: "white";
        color: #2AB7CA;
        height: 50px !important;
        border-radius: 50px;
        font-weight: 600;

    }

    .group {
        border: 1px solid #979797;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        border-radius: 25px;
        color: #2AB7CA;
        background-color: #F4F4F8;
        cursor: pointer;
        font-size: 18px;
        border: 1px solid;
        margin: 15px;
    }

    .header img {
        height: 60px;
        margin: 10px;
    }

    .setting-row {
        width: 100%;
        display: flex;
        margin: 10px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 94px;
        height: 40px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 8px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2AB7CA;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2AB7CA;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(59px);
        -ms-transform: translateX(59px);
        transform: translateX(59px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }


    .button-answer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 15px;
        padding: 5px;
        width: 120px;
        cursor: pointer;
        margin: 10px;
        color: rgb(42, 183, 202);
        border: 1px solid;
    }

    .button-answer span {
        font-size: 12px;
        font-weight: 500
    }

    .button-answer img {
        width: 50px;
        height: 50px
    }

    .header,
    .surveyQuestion {
        height: 25vh;
    }

    .serveyChoices {
        display: flex;
        justify-content: center;
        height: 25vh;
        align-items: center;

    }

    .headerBtn {
        background-color: transparent;
        border: 0;
        position: absolute;
        right: 10px;
        height: 100%;
        font-size: 30px;
    }

    .navigateControl {
        display: flex;
        justify-content: center;
        height: 25vh;
        align-items: center;
        position: relative;
    }

    .surveyQuestionContainer {
        background-color: #F4F4F8;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2AB7CA;
        font-size: 30px;
        border-radius: 50px;
        text-align: center;
        padding: 15px;
        height: 50%;
    }

    .serveyChoicesContainer {
        background-color: #F4F4F8;
        width: 80%;
        padding: 15px;
        display: flex;
        justify-content: center;
        color: #2AB7CA;
        font-size: 30px;
        border-radius: 50px;
    }

    .navigateControlContainer {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }


    .common-div {
        height: 100vh;
        flex: 0 0 100%;
        display: none;
        position: relative;
    }

    #setting,
    #peopleGroup,
    #feedback {
        background-color: #E6E6EA
    }

    .header_logo {
        display: flex;
        justify-content: center;
        height: 25vh;
        position: relative;
    }

    .team-logo {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    a.button {
        width: 127px;
        background-color: #2AB7CA;
        border: #2AB7CA;
        color: white;
        border-radius: 23px;
        padding: 10px;
        text-align: center;
        margin: 15px;
        text-decoration: none;
        line-height: 32px;

    }


    @media only screen and (max-width: 500px) {

        .group {
            width: 130px;
            height: 130px;
        }

        #welcome_page h5 {
            font-size: 1rem;
        }

        .peopleGroup-question {
            border-radius: 30px !important;
            padding: 10px !important;
        }

        .common-div {
            width: 100%;
        }

        .button-answer {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px !important;
            padding: 5px;
            width: 100%;
            margin: 5px;
        }

        .button-answer img {
            width: 30px;
            height: 30px
        }

        .mainContainer {
            width: 100%;
            overflow: visible;
            height: auto;
        }

        .serveyChoices {
            height: 50vh !important;
            overflow: auto;
        }

        .header,
        .surveyQuestion,
        .serveyChoices {
            height: auto !important;
        }

        .header img {
            height: 42px !important;
        }

        .surveyQuestion {
            margin: 15px 0;
        }

        .surveyQuestionContainer {
            font-size: 18px !important;
            border-radius: 15px !important;
            height: auto !important;

        }

        .serveyChoicesContainer {
            width: 80%;
            padding: 15px;
            font-size: 30px;
            border-radius: 15px !important;
            flex-direction: column-reverse;
            align-items: center;
        }

        .navigateControl h5 {
            display: none;
        }

        .peopleGroup-question {
            font-size: 22px !important;
        }

        .navigateControlContainer {
            align-items: start !important;
            height: auto !important;

        }
    }
</style>

<body>
    <div class="outer">
        <div class="outer" id="common-div-outer">
            <div class="inner" id="inner-common-div">
                <div class="common-div" id="welcome_page">
                    <div class="header_logo">
                        <div class="w-100 justify-content-center d-flex position-relative" style="height: 100px;">
                            <img style="height: 60px; margin-top: 10px;" src="HELSINKI_Tunnus_MUSTA.png" alt="">
                            <button onclick="goTo('setting','welcome_page')"
                                class="position-absolute h-100 d-flex align-items-center"
                                style="border: 0px;background-color: transparent; right: 10px;font-size: 30px;cursor: pointer;">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="justify-content-center d-flex align-items-center text-center flex-column"
                        style="padding:15px;height: 25vh; color:#2AB7CA">
                        <h2>Tervetuloa!</h2>
                        <h5>Vastaamalla kyselyyn autat meitä parantamaan viihtyvyyttä rakennuksen sisällä!</h4>
                    </div>
                    <div class="justify-content-center d-flex align-items-center flex-column" style="height: 25vh;">
                        <button style="margin: 10px;" onclick="goTo('peopleGroup',null)" class='btn button'>Aloita
                            kysely</button>
                        <button style="margin: 10px;" onclick="goTo('feedback',null)" class='btn button'>Anna avoin
                            palaute</button>
                    </div>
                    <div class="wave position-relative" style="height:25vh;">
                        <svg viewBox="0 -20 700 110" width="100%" height="100%" preserveAspectRatio="none">
                            <path transform="translate(0, -20)"
                                d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#2AB7CA"></path>
                            <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#2AB7CA">
                            </path>
                        </svg>
                        <h6 class="team-logo" style="color: white;">Guudlyf 2019
                        </h6>
                    </div>
                </div>

                <div class="common-div" id="setting">
                    <div style="height: 25vh; ">
                        <div class="w-100 justify-content-center d-flex position-relative"
                            style="height:100px;background-color: #F4F4F8;">
                            <img style="height: 60px; margin-top: 10px;" src="HELSINKI_Tunnus_MUSTA.png" alt="">
                            <button onclick="goBackTo()" class="position-absolute h-100 d-flex align-items-center"
                                style="background-color: transparent; border:0px; right: 10px;font-size: 30px; cursor: pointer;">
                                <i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="justify-content-center d-flex" style="height: 50vh;">
                        <div class="d-flex align-items-center flex-column"
                            style="background-color: #F4F4F8;border-radius: 30px;color: #2AB7CA;padding: 15px; width: 90%;height: 90%;;">
                            <div class="setting-row">
                                <div class="setting-item">Valitse rakennus</div>
                                <select style="background-color: white;color: #2AB7CA;border-color: #2AB7CA;"
                                    class="setting-item" id="schoolname">
                                    <option value="0"> -- Valitse rakennus --</option>
                                    <option selected value="Kaisaniemen ala-aste">Kaisaniemen ala-aste</option>
                                    <option value="Keinutien ala-aste">Keinutien ala-aste</option>
                                    <option value="Myllypuron peruskoulu">Myllypuron peruskoulu</option>
                                    <option value="Meritalo">Meritalo</option>
                                </select>
                            </div>
                            <div class="setting-row">
                                <div class="setting-item">Syötä huoneen numero</div>
                                <input id="schoolclass" style="background-color: white;color: #2AB7CA;border: #2AB7CA;"
                                    class="setting-item">

                            </div>
                            <div class="setting-row">
                                <div style="margin-top: 10px;" class="setting-item">Helppokäyttötila</div>
                                <div class="setting-item" style="margin: auto;">

                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="setting-row">
                                <div style="margin-top: 10px;" class="w-100 d-flex justify-content-center">
                                    <a class="button" href="answers" role="button">Answers</a>
                                    <a class="button" href="feedbacks" role="button">Feedbacks </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; justify-content:center; height: 25vh; align-items: center; ">
                        <div style="height: 100px;display: flex;justify-content: space-between;">
                        </div>
                        <h6 class="team-logo" style="color: #BBBBBB;">Guudlyf
                            2019
                        </h6>
                    </div>
                </div>

                <div class="common-div" id='peopleGroup'>
                    <div class="header_logo" style="height: 25vh;">
                        <div
                            style="background-color: #F4F4F8;width: 100%;justify-content: center;display: flex; position: relative;height: 100px;">
                            <img style="height: 60px; margin-top: 10px;" src="HELSINKI_Tunnus_MUSTA.png" alt="">
                            <button onclick="goTo('setting','peopleGroup')"
                                style="background-color: transparent;border:0px;position: absolute;right: 10px;height: 100%;font-size: 30px;display: flex;align-items: center; cursor: pointer;">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="surveyQuestion" style="display: flex; justify-content:center; height: 25vh;">
                        <div class="peopleGroup-question"
                            style="height:50%;text-align:center;display: flex;justify-content: center;align-items: center;background-color: #F4F4F8;width: 80%;border-radius: 50px;color: #2AB7CA;font-size: 30px;">
                            Oletko oppilas vaihenkilökuntaa?
                        </div>
                    </div>
                    <div style="display: flex; justify-content:center; height: 25vh; align-items: center;">
                        <div style="display: flex;justify-content: space-between;">
                            <button onclick="highlight(this,'student')" class="group"><img style="width: 50px; "
                                    src="icons8-children-64.png"> Oppilas
                            </button>
                            <button onclick="highlight(this,'teacher')" class="group"><img style="width: 60px; "
                                    src="icons8-teacher-100.png">Henkilökunta
                            </button>
                        </div>
                    </div>
                    <div class="position-relative"
                        style="display: flex; justify-content:center; height: 25vh; align-items: center; ">
                        <div style="width:80%;height: 100px;display: flex;;justify-content: space-between;">
                            <button style="margin: 10px;" onclick="goTo('welcome_page',null)"
                                class='btn button'>Edellinen</button>
                            <button style="margin: 10px;" disabled id="startsurvey"
                                style="background-color: white;color: #2AB7CA" onclick="startServey()"
                                class='btn button'>Seuraava</button>
                        </div>
                    </div>
                    <h6 class="team-logo" style="color: #BBBBBB;">Guudlyf
                        2019
                    </h6>
                </div>

                <div class="common-div" id='feedback'>
                    <div style="height: 25vh; ">
                        <div
                            style="background-color: #F4F4F8;width: 100%;justify-content: center;display: flex; position: relative;height: 100px;">
                            <img style="height: 60px; margin-top: 10px;" src="HELSINKI_Tunnus_MUSTA.png" alt="">
                            <button onclick="goTo('setting', 'feedback')"
                                style="border:0;position: absolute;    background-color: transparent;
                            right: 10px;height: 100%;font-size: 30px;display: flex;align-items: center; cursor: pointer;">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:center; height: 25vh;">
                        <div
                            style="padding: 15px;text-align:center;display: flex;justify-content: center;align-items: center;background-color: #F4F4F8;width: 80%;border-radius: 30px;color: #2AB7CA;font-size: 30px; height: 60%;">
                            <h5>Halutessasi voit jättää alle avoimen palautteen.</h5>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:center; height: 25vh;">
                        <textarea id="feedback"
                            style="display: flex;justify-content: center;align-items: center;background-color: #F4F4F8;width: 80%;border-radius: 30px;color: #2AB7CA;font-size: 20px;padding: 15px;border: #F4F4F8;"
                            placeholder="Kouluruoka oli tänään superhyvää!"></textarea>
                    </div>
                    <div class="position-relative"
                        style="display: flex; justify-content:center; height: 25vh; align-items: center; ">
                        <div style="height: 100px;display: flex;width: 80%;justify-content: space-between;">
                            <button style="margin: 10px;" onclick="goTo('welcome_page',null)"
                                class='btn button'>Edellinen</button>
                            <button style="margin: 10px;" onclick="sendFeedback()" class='btn button'>Lähetä</button>
                        </div>
                        <h6 class="team-logo" style="color: #BBBBBB">Guudlyf 2019
                        </h6>
                    </div>
                </div>
                <div class="common-div" id='thankyou-page'>
                    <div class="header_logo">
                        <div
                            style="width: 100%;justify-content: center;display: flex; position: relative;height: 100px;">
                            <img style="height: 60px; margin-top: 10px;" src="HELSINKI_Tunnus_MUSTA.png" alt="">
                        </div>
                    </div>
                    <div
                        style="padding:15px;text-align:center;display: flex;justify-content: center;height: 25vh;align-items: center;flex-direction: column; color:#2AB7CA">
                        <h1>Kiitos!</h1>
                        <h5>Antamalla palautetta autat meitä saavuttamaan mukavan paikan opiskella ja työskennellä.</h5>
                    </div>
                    <div
                        style="display: flex;justify-content: center;height: 25vh;flex-direction: column;align-items: center;">
                        <button style="margin: 10px;" onclick="goTo('welcome_page',null)" class='btn button'>Aloita
                            alusta</button>
                        <button style="margin: 10px;" onclick="goTo('feedback',null)"
                            class="btn button waves-effect waves-light">Anna avoin
                            palaute</button>
                    </div>
                    <div class="wave" style="position: relative;height:25vh;">
                        <svg viewBox="0 -20 700 110" width="100%" height="100%" preserveAspectRatio="none">
                            <path transform="translate(0, -20)"
                                d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#2AB7CA"></path>
                            <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#2AB7CA">
                            </path>
                        </svg>
                        <h6 class="team-logo" style="color: white;">Guudlyf 2019
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="outer" id="survey">
            <div class="inner" id="inner-survey" >
            </div>
        </div>
    </div>
    <p id="questions" style="display:none"><%= posts %></p>
    <button style="display: none;" class="lefty" id="left-button"><i class="fa fa-chevron-left"></i></button>
    <button style="display: none;" class="righty" id="right-button"><i class="fa fa-chevron-right"></i></button>

</body>
<script>
    let questions = JSON.parse(document.getElementById("questions").innerText);
    let peopleGroup = null
    const container = document.querySelector("#inner-survey");
    const lefty = document.querySelector(".lefty");
    let translate = 0;
    let maxTranslate = null;
    const righty = document.querySelector(".righty");

    sendFeedback = () => {
        goTo('thankyou-page', null)
        var data = { 
            "feedback": $("textarea#feedback").val(),
            "schoolname": $("#schoolname").val(),
            "schoolclass": $("#schoolclass").val()
        }
        if (!$("textarea#feedback").val()) return
        $.ajax({
            type: "POST",
            url: "/feedback",
            data: JSON.stringify(data),
            contentType: 'application/json',
        }).then(function (data) {
            $("textarea#feedback").val("")

        })
    }
    let prev = null
    goTo = (id, prevId) => {
        $('.common-div').hide()
        $('#' + id).show()
        $('#' + id)[0].scrollIntoView(true);
        prev = prevId
    }

    goBackTo = () => {
        if (prev) {
            $('.common-div').hide()
            $('#' + prev).show()
            $('#' + prev)[0].scrollIntoView(true);
        }
    }

    highlight = (e, input) => {
        $('.group').css({ "box-shadow": "", "border": "1px solid" })
        $("#startsurvey").prop("disabled", false)
        $("#startsurvey").css({ "background-color": "#2AB7CA", "color": "white" })
        peopleGroup = input
        if (input) {
            $(e).css({ "box-shadow": "0 0 40px rgb(42, 183, 202)", "border": "2px solid" })
        }
    }

    lefty.addEventListener("click", function () {
        if (!maxTranslate) return
        if (translate == 0) {
            translate = 0
            return
        }
        translate += 100;
        container.style.transform = "translateX(" + translate + "vw" + ")";
    });

    righty.addEventListener("click", function () {
        if (!maxTranslate) return
        if (translate == -maxTranslate) {
            translate = -maxTranslate
            return
        }
        translate -= 100;
        container.style.transform = "translateX(" + translate + "vw" + ")";
    });

    var sendAnswer = function (e) {
        var data = {
            "answerId": e.target.answerId,
            "answer": e.target.answer,
            "questionId": e.target.questionId,
            "question": e.target.question,
            "schoolname": $("#schoolname").val(),
            "schoolclass": $("#schoolclass").val(),
            "peopleGroup": peopleGroup
        }
        $.ajax({
            type: "POST",
            url: "/answers",
            data: JSON.stringify(data),
            contentType: 'application/json',
        })
    }
    startServey = () => {
        $("#inner-survey").empty()
        getData(questions)

    }

    getData = (questions) => {
        container.style.transform = "translateX(" + 0 + "vw" + ")";
        translate = 0;
        maxTranslate = null
        maxTranslate = (questions.length - 1) * 100
        questions.forEach((question, index) => {
            var mainContainer = document.createElement("div")
            mainContainer.className = "mainContainer"
            mainContainer.id = "mainContainer" + question.questionId

            var header = document.createElement("div")
            header.className = 'header'

            var headerContainer = document.createElement("div");
            headerContainer.style.backgroundColor = '#F4F4F8';
            headerContainer.className = 'w-100 justify-content-center d-flex position-relative'

            var headerImg = document.createElement('img');
            headerImg.style.height = '60px'
            headerImg.style.marginTop = '10px'
            headerImg.src = 'HELSINKI_Tunnus_MUSTA.png'

            headerContainer.appendChild(headerImg)
            header.appendChild(headerContainer)


            var surveyQuestion = document.createElement("div")
            surveyQuestion.style.display = 'flex';
            surveyQuestion.style.justifyContent = 'center';
            surveyQuestion.className = 'surveyQuestion'

            var surveyQuestionContainer = document.createElement("div")
            surveyQuestionContainer.className = 'surveyQuestionContainer';
            surveyQuestionContainer.innerHTML = question.question
            surveyQuestion.appendChild(surveyQuestionContainer)


            var serveyChoices = document.createElement("div")
            serveyChoices.className = "serveyChoices"

            var serveyChoicesContainer = document.createElement("div")
            serveyChoicesContainer.className = 'serveyChoicesContainer';

            serveyChoices.appendChild(serveyChoicesContainer)

            var navigateControl = document.createElement("div")
            navigateControl.className = "navigateControl"

            var navigateControlContainer = document.createElement("div")
            navigateControlContainer.className = 'navigateControlContainer'

            var navigateControlbtn1 = document.createElement("button")
            navigateControlbtn1.className = "btn button";
            navigateControlbtn1.innerHTML = "Edellinen"
            navigateControlbtn1.addEventListener("click", function () {
                if (index == 0) {
                    goTo("peopleGroup", null)
                    $("#common-div-outer").show()
                    $("#inner-survey").empty()
                }
                else {
                    $("#left-button").click()
                }
            })

            var navigateControlspan = document.createElement("span")
            navigateControlspan.innerHTML = index + 1 + "/8";
            navigateControlspan.style.color = "#2AB7CA"
            navigateControlspan.style.margin = "10px"

            var navigateControlbtn2 = document.createElement("button")
            navigateControlbtn2.className = "btn button2";
            navigateControlbtn2.innerHTML = index == 7 ? "Lähetä" : "Seuraava"
            navigateControlbtn2.disabled = "true"


            navigateControlbtn2.addEventListener("click", function (e) {
                sendAnswer(e)
                if (index == 7) {
                    $("#inner-common-div, #common-div-outer").show()
                    goTo("thankyou-page", null)
                    $("#inner-survey").empty()
                    highlight("teacher", null)

                }
                else {
                    $("#right-button").click()
                }
            })

            navigateControlContainer.appendChild(navigateControlbtn1)
            navigateControlContainer.appendChild(navigateControlspan)
            navigateControlContainer.appendChild(navigateControlbtn2)

            var h6 = document.createElement("h6")
            h6.innerHTML = "Guudlyf 2019";
            h6.className = "team-logo"
            h6.style.color = '#BBBBBB';


            navigateControl.appendChild(navigateControlContainer)

            mainContainer.appendChild(header)
            mainContainer.appendChild(surveyQuestion)
            mainContainer.appendChild(serveyChoices)
            mainContainer.appendChild(navigateControl)
            mainContainer.appendChild(h6)


            document.getElementById("inner-survey").appendChild(mainContainer);
            var choices = question.choices
            choices.map(item => {
                var choice = document.createElement("button")
                choice.className = 'button-answer'
                choice.questionId = question.questionId;
                choice.id = item.choiceId;
                var icon = document.createElement("img");
                icon.src = item.icon;

                var text = document.createElement("span");
                text.innerHTML = item.choice

                choice.appendChild(icon);
                choice.appendChild(text)
                serveyChoicesContainer.appendChild(choice)

                $(choice).click(function (event) {
                    $(navigateControlbtn2).prop("disabled", false)
                    event.preventDefault()
                    $('.button-answer').css({ "box-shadow": "", "border": "1px solid" })
                    $(event.currentTarget).css({ "box-shadow": "0 0 40px rgb(42, 183, 202)", "border": "2px solid" })
                    $(navigateControlbtn2).css({ "background-color": "#2AB7CA", "color": "white" })
                    $(navigateControlbtn2).prop({ "questionId": question.questionId, "answer": item.choice, "answerId": item.choiceId, "question": question.question })
                })
            })
        })
        $(document).scrollTo('#survey');
        $("#common-div-outer").hide()
    }
</script>
<% include ./partials/footer %>