<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<style>
    .outer {

        overflow-x: hidden;
        overflow-y: hidden;

    }

    body {
        margin: 0
    }

    .container {
        display: flex;
        transition: transform .4s ease-in;
    }

    .inner {
        flex: 0 0 100%;
        height: 100px;
    }

    .paddle {
        position: absolute;
        top: 50px;
        bottom: 0;
        height: 20px;
    }

    .lefty {
        left: 0;
        z-index: 1;
    }

    .righty {
        right: 0;
        z-index: 1;
    }
</style>

<button class="lefty paddle" id="left-button">Previous</button>
<div class="outer" id="content">
    <div class="container">
        <div class="inner" style="background:red"></div>
        <div class="inner" style="background:green"></div>
        <div class="inner" style="background:blue"></div>
        <div class="inner" style="background:yellow"></div>
        <div class="inner" style="background:orange"></div>
    </div>
</div>
<button class="righty paddle" id="right-button">Next</button>

<p><button id="btnFetch">Click to send a Request</button></p>



<script>
    const container = document.querySelector(".container");
    const lefty = document.querySelector(".lefty");
    let translate = 0;

    lefty.addEventListener("click", function () {
        console.log(translate);
        if (translate == 0) {
            translate = 0
            return
        }
        translate += 100;
        container.style.transform = "translateX(" + translate + "vw" + ")";
    });

    const righty = document.querySelector(".righty");
    righty.addEventListener("click", function () {
        console.log(translate);

        if (translate == -400) {
            translate = -400
            return
        }

        translate -= 100;
        container.style.transform = "translateX(" + translate + "vw" + ")";
    });

    $.ajax({
        type: "GET",
        url: 'https://api.feedbackly.com/v1/surveys',
        "crossDomain": true,
        beforeSend: function (xhr) {
            //xhr.setRequestHeader('CORS', 'Access-Control-Allow-Origin');
            xhr.setRequestHeader("Authorization", "JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5X2lkIjoiNWQ3ZjdhMWM1YWFjYTQ0YzI4ZTMyNDk0Iiwib3JnYW5pemF0aW9uX2lkIjoiNWJkMDZhMDgxYWQ1ODkxMjVmMzMxYmJlIiwidXNlcl9pZCI6IjVkN2Y3YTBlNWFhY2E0NjFiZWUzMjQ5MyIsImV4cGlyYXRpb25fZGF0ZSI6OTk5OTk5OTk5OTk5OX0.0zJYyx5RNW-6AXaM0Bafjr123Q7Lu3XpVPz4RDW0BEE");
        },
    }).done(function (data) {
        console.log(data);

    });


    /*  document.addEventListener('DOMContentLoaded', () => {
         document.getElementById('btnFetch').addEventListener('click', sendReq);
         //pretend to get a token after logging in
         sessionStorage.setItem('MyUniqueUserToken',
             JSON.stringify(
                 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcGlfa2V5X2lkIjoiNWQ3ZjdhMWM1YWFjYTQ0YzI4ZTMyNDk0Iiwib3JnYW5pemF0aW9uX2lkIjoiNWJkMDZhMDgxYWQ1ODkxMjVmMzMxYmJlIiwidXNlcl9pZCI6IjVkN2Y3YTBlNWFhY2E0NjFiZWUzMjQ5MyIsImV4cGlyYXRpb25fZGF0ZSI6OTk5OTk5OTk5OTk5OX0.0zJYyx5RNW-6AXaM0Bafjr123Q7Lu3XpVPz4RDW0BEE'
             )
         );
     });
     let sendReq = (ev) => {
         let url = 'https://api.feedbackly.com/v1/channels';
         let token = JSON.parse(sessionStorage.getItem('MyUniqueUserToken'));
         let h = new Headers();
         h.append('Authentication', `Bearer  ${token}`);
         let req = new Request(url, {
             method: 'GET',
             mode: 'cors',
             headers: h
         });
         fetch(req)
             .then(resp => resp.json())
             .then(data => {
                 console.log(data);
             })
             .catch(err => {
                 console.error(err.message);
             })
     } */

</script>